@import "./mixins.scss";

.home-page-container{
    @include fontTheme;
    display: grid;
    margin-top: 68px;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 100%;
}