.movies-page-container {
    display: grid;
    color: $font-color;
    background-color: rgb(49, 44, 44);
    font-family: $font-family;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 100%;
}